.formContainer {
  padding: 1rem 3rem;
}
.orderForm {
  max-width: 450px;
  background: #e9ebee;
  padding: 30px;
  margin: 20px auto;
  border-radius: 3px;
}
.orderForm ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.orderForm ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
  height: 100%;
  line-height: inherit;
}
.orderForm ul li .fieldStyle {
  box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #dddfe2;
}
.orderForm ul li .fieldStyle:focus {
  box-shadow: 0 0 5px #b0cfe0;
  border: 1px solid #b0cfe0;
}
.orderForm ul li .fieldSplit {
  width: 49%;
}
.orderForm ul li .fieldFull {
  width: 100%;
}
.orderForm ul li input.alignLeft {
  float: left;
}
.orderForm ul li input.alignRight {
  float: right;
}
.orderForm ul li textarea {
  width: 100%;
  height: 100px;
  font-family: inherit;
}

.orderForm ul li input[type='button'],
.orderForm ul li input[type='submit'] {
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
  border: 1px solid transparent;
  display: block;
  margin: 30px auto 0;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 767.99px) {
    .orderForm ul li .fieldSplit {
        width: 100%;
    }
}
